body{
    background-color: rgba(22, 22, 71, 0.819);
    color: white;
}
body h1{
    font-weight: 900;
    font-size: 50px;
}
body p{
    font-size: 30px;
    font-weight: 500;
}
body button{ 
    background-color: brown;
    border: 1px solid blue;
    width:30%;
    padding: 30px 0;
    color: white;
    font-weight: 600;
    font-size: 30px;
}
#quote{
    color: white;
    font-size: 30px;
}
